/*****************************
* DASHBOARD STYLESHEET           *
*****************************/

html.wp-toolbar {
	padding-top: 36px;
}

a:hover, a:active, #collapse-menu:hover {
	color: #c16fc1;
}

.view-switch a.current:before, input[type=checkbox]:checked:before  {
	color: #711471;
}

input[type=radio]:checked:before {
	background-color: #711471;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
	color: #c16fc1;
}

a:focus {
	color: #711471;
}

#wpadminbar * {
	font: 13px/32px Arial, sans-serif;
	color: #ffffff;
	text-shadow: none;
}

#wpadminbar {
	background: #871e87; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjYmMxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NTg0MWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #871e87 0%, #6a146a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#871e87), color-stop(100%,#6a146a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #871e87 0%,#6a146a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #871e87 0%,#6a146a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #871e87 0%,#6a146a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #871e87 0%,#6a146a 100%); /* W3C */
	height: 36px;
}

.ie9 #wpadminbar { filter: none; }
.ie .dashicons {
	font-family: Arial, sans-serif;
}

#wp-admin-bar-comments > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
	background-image: url( "../images/admin-bar-sprite.png" );
}
#wp-admin-bar-wp-logo > .ab-item .ab-icon {
	background: url( "../images/icon-adminbar.png" ) 0 0 no-repeat;
	width: 28px;
	height: 28px;
	margin-top: 2px;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default>#wp-admin-bar-wp-logo .ab-icon, #wpadminbar #wp-admin-bar-wp-logo .ab-icon, #wpadminbar #wp-admin-bar-wp-logo .ab-item:before  {
	background-image: url( "../images/icon-adminbar.png" ) !important;
	width: 28px;
	font: 400 20px/1 Arial, sans-serif;
	margin-right: 0;
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
	content: '';
}

#wpadminbar .ab-top-secondary {
	background: none;
}

#wpadminbar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon, 
#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
	background-position: 0 0;	
}

#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, 
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	background: #7d287d;	
}
#wpadminbar>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label, #wpadminbar>#wp-toolbar a:focus span.ab-label {
	color: #ffffff;
}
.ie7 #wpadminbar .menupop .ab-sub-wrapper {
	top: 36px;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
	background: #7d287d;
	color: #ffffff;
}

#wpadminbar .quicklinks a, 
#wpadminbar .quicklinks .ab-empty-item, 
#wpadminbar .shortlink-input {
	height: 36px;
}
#wpadminbar .quicklinks #wp-admin-bar-wp-logo a {
	padding: 0 7px;
}

/* Admin Bar separator borders */
#wpadminbar .quicklinks > ul > li > a, 
#wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: 1px solid #711471;
}
#wpadminbar .quicklinks .ab-top-secondary > li {
	border-left: 1px solid #711471;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a, 
#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border-left: 1px solid #481448;
}

#wpadminbar .quicklinks > ul > li {
	border-right: 1px solid #481448;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper,
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
	background: #121212;
}

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before {
	color: #c16fc1;
}

#wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar #adminbarsearch:before {
	color: #ffffff;
}

/* Right Menu */
#wpadminbar .quicklinks .menupop ul li a, 
#wpadminbar .quicklinks .menupop ul li a strong, 
#wpadminbar .quicklinks .menupop.hover ul li a, 
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #711471;
}

/* Admin Menu panel */

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
	background-color: #121212;
}

#adminmenu .wp-submenu li.current, 
#adminmenu .wp-submenu li.current a, 
#adminmenu .wp-submenu li.current a:hover {
	color: #eeffee;
}

a, #adminmenu a, #the-comment-list p.comment-author strong a, 
#media-upload a.del-link, #media-items a.delete, 
#media-items a.delete-permanently, .plugins a.delete, .ui-tabs-nav a {
	color: #711471;
}

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins {
	background: #c16fc1;
}

#adminmenu .wp-submenu a:hover, 
#adminmenu .wp-submenu a:focus {
	color: #c16fc1;
}

#adminmenu a:hover, #adminmenu li.menu-top>a:focus, #adminmenu .wp-submenu a:hover, #rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover {
	color: #c16fc1;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top {
	color: #c16fc1;
}

/* dashicon active */
#adminmenu li:hover div.wp-menu-image:before, #collapse-menu:hover #collapse-button div:after {
	color: #c16fc1;
}

#adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open a:hover, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, .no-js li.wp-has-current-submenu:hover .wp-submenu a:hover, .no-js li.wp-has-current-submenu:hover .wp-submenu a:focus, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:hover, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus {
	color: #c16fc1;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, .folded 
#adminmenu li.wp-has-current-submenu, .folded 
#adminmenu li.current.menu-top, 
#adminmenu .wp-menu-arrow, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	background: #6a146a; /* Old browsers */
	

}
#adminmenu .wp-menu-arrow div {
	background: #871e87; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #871e87 0%, #6a146a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#871e87), color-stop(100%,#6a146a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #871e87 0%,#6a146a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #871e87 0%,#6a146a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #871e87 0%,#6a146a 100%); /* IE10+ */
	background: linear-gradient(135deg,  #871e87 0%,#6a146a 100%); /* W3C */
}
.ie9 #adminmenu .wp-menu-arrow div  {	
	display: none !important;
}

.ie7 #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
.ie7 #adminmenu li.current a.menu-top, .folded 
.ie7 #adminmenu li.wp-has-current-submenu, .folded 
.ie7 #adminmenu li.current.menu-top, 
.ie7 #adminmenu .wp-menu-arrow, 
.ie7 #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	background: url('../images/sushi-bg-admin-menu.gif') 0 0 repeat-x #871e87;
}


#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	border-bottom-color: #6a146a;
    border-top-color: #871e87;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
	text-shadow: 0 1px 0 #555555;
}

.wrap .add-new-h2:hover {
	background: #c16fc1;
}

/* Themes */
.theme-browser .theme.add-new-theme:hover span:after {
	color: #c16fc1;
}

.theme-browser .theme.add-new-theme:hover:after {
	background: #c16fc1;
}

/* Primary button */
.wp-core-ui .button-primary {
	background-color: #5ca52b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#871e87), to(#481448));
	background-image: -webkit-linear-gradient(top, #871e87, #6a146a);
	background-image:    -moz-linear-gradient(top, #871e87, #6a146a);
	background-image:     -ms-linear-gradient(top, #871e87, #6a146a);
	background-image:      -o-linear-gradient(top, #871e87, #6a146a);
	background-image:   linear-gradient(to bottom, #871e87, #6a146a);
	border-color: #481448;
	border-bottom-color: #481448;
	-webkit-box-shadow: inset 0 1px 0 rgba(140,188,26,0.5);
 	box-shadow: inset 0 1px 0 rgba(140,188,26,0.5);
}

.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
	background-color: #c16fc1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c16fc1), to(#6a146a));
	background-image: -webkit-linear-gradient(top, #c16fc1, #871e87);
	background-image:    -moz-linear-gradient(top, #c16fc1, #871e87);
	background-image:     -ms-linear-gradient(top, #c16fc1, #871e87);
	background-image:      -o-linear-gradient(top, #c16fc1, #871e87);
	background-image:   linear-gradient(to bottom, #c16fc1, #871e87);
	border-color: #6a146a;
	border-bottom-color: #6a146a;
	-webkit-box-shadow: inset 0 1px 0 rgba(232,28,61,0.5);
 	box-shadow: inset 0 1px 0 rgba(232,28,61,0.5);
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active {
	background: #c16fc1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#871e87), to(#c16fc1));
	background-image: -webkit-linear-gradient(top, #871e87, #c16fc1);
	background-image:    -moz-linear-gradient(top, #871e87, #c16fc1);
	background-image:     -ms-linear-gradient(top, #871e87, #c16fc1);
	background-image:      -o-linear-gradient(top, #871e87, #c16fc1);
	background-image:   linear-gradient(to bottom, #871e87, #c16fc1);
	border-color: #124560 #2382ae #2382ae #2382ae;
	color: rgba(255,255,255,0.95);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
 	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary-disabled {
	color: #b7e794 !important;
	background: #82ba29 !important;
	border-color: #4c7f1b !important;
	-webkit-box-shadow: none !important;
	box-shadow:         none !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
	cursor: default;
}

/* Media Library */
.media-frame a {
	color: #711471;
}

.attachment.details .check {
	box-shadow: 0 0 0 1px #871e87;

	background: #871e87;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#871e87), to(#6a146a));
	background-image: -webkit-linear-gradient(top, #871e87, #6a146a);
	background-image:    -moz-linear-gradient(top, #871e87, #6a146a);
	background-image:      -o-linear-gradient(top, #871e87, #6a146a);
	background-image:   linear-gradient(to bottom, #871e87, #6a146a);
}

.details.attachment {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 5px #6cbc1a;
}

/* Overview */
table#system-overview-table td {
	vertical-align: top;
}
table.system-overview-list {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
table.system-overview-list td.label {
	text-align: left;
	width: 30%;
}
table.system-overview-list td.field {
	text-align: left;
	width: 70%;
}
table.system-overview-list td.field ul {
	margin: 0;
}
table.system-overview-list td {
	padding: 3px;
}
table.system-overview-list strong,
ul.system-overview-list strong {
	color: #711471;
}

table

#wpadminbar #wp-admin-bar-search .ab-item {
	padding-top: 4px;
}

@media screen and (max-width: 782px) {
	html.wp-toolbar {
		padding-top: 0;
	}

	#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default>#wp-admin-bar-wp-logo .ab-icon, #wpadminbar #wp-admin-bar-wp-logo .ab-icon {
		background-position: 0 7px;
		height: 44px;
	}
}

/* Settings Tab Control */

#settings-tabs ul li.active {
	background: #ffffff;
	border-top: 2px solid #711471;
}
#settings-tabs ul li.active h3 a {	
	color: #711471;
	box-shadow: none;
}

table.system_page_system-packages .column-name .active {
	color: #711471;
}
